<div class="panel panel-default text-{{bindAlign}}">
	<div class="panel-heading" ng-bind="'表 ' + selectedTable + ' 的列'"></div>
	<i class="fa fa-spin fa-spinner fa-2x" ng-if="!columns"></i>
	<table class="table text-cutted" ng-if="columns">
		<tr ng-repeat="column in columns">
			<td ng-if="bindAlign == 'left'" ng-click="bindCfg.tables[selectedTable].pk = column[0]">
				<a title="主键"><i class="fa" ng-class="{'fa-dot-circle-o': bindCfg.tables[selectedTable].pk == column[0], 'fa-circle-o': true}"></i></a>
			</td>
			<td ng-bind="column[0] + ' ' + column[1] + '(' + column[2] + ')'"></td>
			<td ng-if="bindAlign == 'right'" ng-click="bindCfg.tables[selectedTable].pk = column[0]">
				<a title="主键"><i class="fa" ng-class="{'fa-dot-circle-o': bindCfg.tables[selectedTable].pk == column[0], 'fa-circle-o': true}"></i></a>
			</td>
		</tr>
	</table>
</div>