<div ng-class="{'col-sm-12': !selectedTable, 'col-sm-4': selectedTable}">
	<div class="panel panel-default text-{{bindAlign}}">
		<div class="panel-heading " ng-bind="bindTitle"></div>
		<i class="fa fa-spin fa-spinner fa-3x" ng-if="!tables"></i>
		<ul class="list-group" ng-if="tables">
			<li class="list-group-item" ng-repeat="table in tables">
				<a href="javascript:void(0)" ng-click="selectTable(table)">
					<span>
						{{table}}
						<i class="fa fa-check" ng-if="bindCfg.tables[table]" class="pull-{{bindAlign}}"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<column-enumerator ng-if="selectedTable" data-bind-align="{{bindAlign}}" data-bind-table></column-enumerator>