<div class="panel panel-default text-{{bindAlign}}" ng-if="!bindCfg.selectedTable">
	<div class="panel-heading " ng-bind="bindTitle"></div>
	<i class="fa fa-spin fa-spinner fa-2x" ng-if="!tables"></i>
	<div class="list-group" ng-if="tables">
		<li class="list-group-item container-fluid" ng-repeat-start="table in tables" ng-show="!bindCfg.tables[table].linkedTable">
			<span class="col-xs-10 text-cutted" ng-class="{'col-xs-push-2': bindAlign == 'left'}" ng-bind="table"></span>
			<span class="col-xs-2" ng-class="{'col-xs-pull-10': bindAlign == 'left'}">
				<a class="no-decoration cursor-crosshair" title="拖拽以匹配">
					<table-linker data-index="{{$index}}" data-bind-table="{{table}}"></table-linker>
				</a>
			</span>
		</li>
		<a class="list-group-item container-fluid" ng-repeat-end ng-show="bindCfg.tables[table].linkedTable" ng-click="editSelected(table)">
			<span class="col-xs-10 text-cutted" ng-class="{'col-xs-push-2': bindAlign == 'left'}" ng-bind="table"></span>
			<span class="col-xs-2 text-error" ng-class="{'col-xs-pull-10': bindAlign == 'left'}">
				<i class="fa fa-close fa-fw" title="取消匹配" ng-click="unlinkTable(table, $event)"></i>
			</span>
		</a>
	</div>
</div>
<column-enumerator ng-if="bindCfg.selectedTable"></column-enumerator>