<h1>欢迎使用NW数据交换系统</h1>
<div ng-if="!cfg.dstInfo.type">
	<h2>请选择目的数据库的类型。</h2>
	<h2>&nbsp;</h2>
	<div class="col-sm-6">
		<div class="btn text-center col-sm-10 col-sm-offset-1" ng-class="{'btn-success': cfg.dstInfo.type == 'orc', 'btn-default': true}" ng-click="cfg.dstInfo.type = 'orc'">
			<h1>Oracle</h1>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="btn text-center col-sm-10 col-sm-offset-1" ng-class="{'btn-success': cfg.dstInfo.type == 'sql', 'btn-default': true}" ng-click="cfg.dstInfo.type = 'sql'">
			<h1 class="">Sql Server</h1>
		</div>
	</div>
</div>
<div ng-if="cfg.dstInfo.type">
	<h2>请填写连接到目的数据库所需的信息。</h2>
	<p><a href="javascript:void(0)" ng-click="cfg.dstInfo.type = null"><i class="fa fa-arrow-left"></i> 重新选择数据库类型</a></p>
	<p>&nbsp;</p>
	<connector type="{{cfg.dstInfo.type}}" data-bind-info="cfg.dstInfo" data-next-state="newConfig.main"></connector>
</div>