<p class="h1">欢迎使用NW数据交换系统</p>
<p class="lead">我们将通过一系列步骤生成一个新的数据交换配置。</p>
<p class="lead"><i class="fa fa-angle-right"></i> 首先，请填写连接到源数据库的必要信息。</p>
<hr>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-2 control-label">源数据库的类型</label>
		<db-selector class="col-xs-10" data-bind-data="cfg.srcConnInfo"></db-selector>
	</div>
</form>
<div ng-if="cfg.srcConnInfo.type">
	<db-connector data-bind-info="cfg.srcConnInfo" data-next-state="newConfig.dstConnInfo"></db-connector>
</div>